<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="Tooplate">

    <title>Loca IAI </title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;600;700&display=swap"
          rel="stylesheet">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <link th:href="@{/css/bootstrap-icons.css}" rel="stylesheet">

    <link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet">

    <link th:href="@{/css/tooplate-moso-interior.css}" rel="stylesheet">


</head>

<body>
<div layout:fragment="section_3" >
    <section class="reviews-section section-padding pb-0" id="section_4">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12">
                    <small class="section-small-title">Happy customers.</small>

                    <h2 class="mt-2 mb-4">Reviews</h2>

                    <div class="owl-carousel reviews-carousel">
                        <div class="reviews-thumb">
                            <div class="reviews-body">
                                <h4>Loca IAI is the most suitable website layout.</h4>
                            </div>

                            <div class="reviews-bottom reviews-bottom-up d-flex align-items-center">
                                <img src="images/avatar/pretty-blonde-woman-wearing-white-t-shirt.jpg" class="avatar-image img-fluid" alt="">

                                <div class="d-flex align-items-center justify-content-between flex-wrap w-100 ms-3">
                                    <p class="text-white mb-0">
                                        <strong>Sandy</strong>, <small>CEO</small>
                                    </p>

                                    <div class="reviews-icons">
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="reviews-thumb">
                            <div class="reviews-body">
                                <h4>Explore more HTML Templates to download for your website.</h4>
                            </div>

                            <div class="reviews-bottom reviews-bottom-up d-flex align-items-center">
                                <img src="images/avatar/studio-portrait-emotional-happy-funny-smiling-boyfriend-man-with-heavy-beard-stands-with-arms-crossed-dressed-red-t-shirt-isolated-blue.jpg" class="avatar-image img-fluid" alt="">

                                <div class="d-flex align-items-center justify-content-between flex-wrap w-100 ms-3">
                                    <p class="text-white mb-0">
                                        <strong>Jack</strong>, <small>Partner</small>
                                    </p>

                                    <div class="reviews-icons">
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star"></i>
                                        <i class="bi-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="reviews-thumb">
                            <div class="reviews-body">
                                <h4>Please recommend Tooplate website to your friends.</h4>
                            </div>

                            <div class="reviews-bottom reviews-bottom-up d-flex align-items-center">
                                <img src="images/avatar/portrait-beautiful-young-woman-standing-grey-wall.jpg" class="avatar-image img-fluid" alt="">

                                <div class="d-flex align-items-center justify-content-between flex-wrap w-100 ms-3">
                                    <p class="text-white mb-0">
                                        <strong>Helen</strong>, <small>Client</small>
                                    </p>

                                    <div class="reviews-icons">
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="reviews-thumb">
                            <div class="reviews-body">
                                <h4>This Bootstrap 5 layout is free to use for your website.</h4>
                            </div>

                            <div class="reviews-bottom reviews-bottom-up d-flex align-items-center">
                                <img src="images/avatar/portrait-young-redhead-bearded-male-wears-white-t-shirt-keeps-his-eyes-closed-smiling-feels-happy-yellow.jpg" class="avatar-image img-fluid" alt="">

                                <div class="d-flex align-items-center justify-content-between flex-wrap w-100 ms-3">
                                    <p class="text-white mb-0">
                                        <strong>Bill</strong>, <small>Designer</small>
                                    </p>

                                    <div class="reviews-icons">
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star"></i>
                                        <i class="bi-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="reviews-thumb">
                            <div class="reviews-body">
                                <h4>Thank you for visiting Tooplate to download free templates.</h4>
                            </div>

                            <div class="reviews-bottom reviews-bottom-up d-flex align-items-center">
                                <img src="images/avatar/portrait-young-beautiful-woman-gesticulating.jpg" class="avatar-image img-fluid" alt="">

                                <div class="d-flex align-items-center justify-content-between flex-wrap w-100 ms-3">
                                    <p class="text-white mb-0">
                                        <strong>Susan</strong>, <small>Boss</small>
                                    </p>

                                    <div class="reviews-icons">
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-12">
                        <p class="d-flex justify-content-center align-items-center mt-lg-5">Write some reviews on <a href="#" class="custom-btn btn ms-3"><i class="bi-facebook me-2"></i>facebook</a></p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>


<!-- JAVASCRIPT FILES -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/click-scroll.js}"></script>
<script th:src="@{/js/jquery.backstretch.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>

</body>
</html>